table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
}

tr:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

.mission-name,
th {
  font-weight: 600;
}

.mission-description {
  font-size: 0.8rem;
}

td,
th {
  text-align: left;
  border: solid 1px rgb(223, 223, 223);
  vertical-align: top;
  padding: 0.5rem;
}

.table-btns {
  width: 12%;
  vertical-align: middle;
  text-align: center;
}

.not-member-btn {
  padding: 0.2rem 0.4rem;
  background-color: rgb(105, 105, 105);
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  border: transparent;
  outline: none;
}

.active-member-btn {
  padding: 0.2rem 0.4rem;
  background-color: rgb(57, 159, 255);
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  border: transparent;
  outline: none;
}

.join-mission-btn {
  padding: 0.5rem;
  font-weight: 600;
  background: transparent;
  color: rgb(105, 105, 105);
  border: solid 2px;
  border-radius: 0.3rem;
}

.leave-mission-btn {
  padding: 0.5rem;
  font-weight: 600;
  background: transparent;
  color: red;
  border: solid 2px;
  border-radius: 0.3rem;
}

button {
  cursor: pointer;
}
