@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

.nav_bar {
  display: flex;
  top: 0;
  left: 0;
  z-index: 200;
  width: 90%;
  background-color: white;
  justify-content: space-between;
  padding: 24px 4%;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #202325;
  cursor: pointer;
  padding-left: 10px;
}

.links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 20px;
}

.link a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: #0f9bdb;
  letter-spacing: 1.9px;
  list-style: none;
  text-decoration: none;
}

.logo-image {
  height: 60px;
  width: 60px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 20px 0 20px;
  vertical-align: middle;
}

.nav_bar ul li {
  padding: 0;
}

.active {
  color: #14be8b;
  border-bottom: 1px solid #14be8b;
}

.drawer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: 200;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background: rgb(236, 226, 226);
  transition: 0.5s ease-in;
}

.drawer-1 {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background: rgb(236, 226, 226);
  transition: 0.5s ease-in;
}

.menu-links {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;
  margin-right: 20px;
  font-family: 'Unbounded', cursive;
}

.menu-links a {
  text-decoration: none;
}

.close {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-left: 250px;
}

@media (max-width: 460px) {
  .menu {
    display: block;
  }

  .nav_bar {
    display: flex;
    width: 100%;
  }

  .links {
    display: none;
  }

  .logo-image {
    width: 20px;
    height: 20px;
  }

  .title {
    font-size: 14px;
  }
}
