header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

header > * {
  margin: 0 3%;
}

header h1 {
  padding: 20px 0 20px 100px;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  background: url(planet1.png) top left/contain no-repeat;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  margin: 0 20px;
  color: #02bab7;
  text-decoration: none;
  font-size: 20px;
}

.navbar ul li:last-of-type {
  border-right: none;
}

.navbar a:hover,
.navbar .active {
  color: #9ad0cf;
  border-bottom: 2px solid #02bab7;
}

.profile-link {
  border-left: 1px solid #333;
  padding-left: 5px;
}

@media (max-width: 960px) {
  header {
    flex-direction: column;
    padding: 20px 0;
  }

  header h1 {
    padding: 10px 0 10px 150px;
    font-size: 30px;
    font-weight: 400;
    color: #000;
    background: url(planet1.png) top left/contain no-repeat;
  }

  .navbar ul {
    padding: 0;
  }

  .navbar a {
    padding: 0 10px;
    font-size: 12px;
  }

  .profile-link {
    padding-top: 2px;
    border-left: 1px solid #333;
  }
}
