.dragonsList {
  margin: 40px;
  padding: 0;
}

.dragonEl {
  display: flex;
  margin: 25px;
}

.dragonImg {
  width: 250px;
  margin-right: 25px;
}

.dragonImg img {
  width: 250px;
}

.badge {
  margin-right: 5px;
  padding: 2px 5px;
  background: #40b8bf;
  color: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

.blueBtn {
  padding: 10px 15px;
  background: #2e73fa;
  color: #fff;
  border: solid #2e73fa 1px;
  border-radius: 5px;
}

.grayBtn {
  padding: 10px 15px;
  background: #fff;
  color: #888;
  border: solid #777 1px;
  border-radius: 5px;
}

@media (max-width: 460px) {
  .dragonEl {
    display: flex;
    flex-direction: column;
    margin: 25px;
  }

  .dragon {
    margin-top: 150px;
  }
}
