.my-profile {
  display: flex;
  gap: 2rem;
  font-family: arial, sans-serif;
  width: 100%;
  margin: 1rem;
}

.my-missions,
.my-rockets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 40%;
}

.missions-headline,
.rockets-headline {
  font-weight: 600;
  font-size: 24px;
}

.missions-list,
.rockets-list {
  width: 100%;
}

.missions-list li,
.rockets-list li {
  border: solid 1px rgb(211, 211, 211);
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}